body {
    background: linear-gradient(to top, #753bac,#c9b9f3);
    background-attachment: fixed;
    margin: 0;
}

.large-margin {
    margin-left: 200px; /* Or any value you want */
    margin-right: 200px;
    /* You may need to ensure width: 100% is maintained or adjust for potential overflow */
}

html {
    scroll-behavior: smooth;
}

:root {
    --bs-primary: #602b9c; /* Replace primary color with purple */
    --bs-primary-rgb: 96, 43, 156;
}